name: Format

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - playground
      - main

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node_version
          cache: "pnpm"

      - run: pnpm install

      - run: pnpm check:ci

  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: streetsidesoftware/cspell-action@v8
