name: "pkg.pr.new"
on:
  push:
    branches:
      - playground
      - main
    tags:
      - "!**"
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  continuous-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version-file: .node_version
          cache: 'pnpm'

      - run: pnpm install

      - name: Build
        run: pnpm build:packages

      - name: Release
        run: pnpx pkg-pr-new publish --pnpm './packages/*'
