name: "pkg.pr.new"
on:
  push:
    branches:
      - playground
      - main
    tags:
      - "!**"
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  continuous-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          run_install: true

      - uses: actions/setup-node@v4
        with:
          node-version-file: .node_version
          cache: "pnpm"

      - name: Build
        run: pnpm build --filter=@idos-network/issuer --filter=@idos-network/client --filter=@idos-network/consumer --filter=@idos-network/utils --filter=@idos-network/credentials

      - name: Release
        run: pnpx pkg-pr-new publish --pnpm './packages/issuer' './packages/client' './packages/consumer' './packages/utils' './packages/credentials'
